<section class="sky-pics">
    <%= for image <- @conn.assigns.images do %>
       <figure class="s-p-w"><img class="s-p" src="<%= image.url %>" /><canvas class="s-p-l" data-bm="<%= image.print %>"></canvas></figure>
    <% end %>
</section>